@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

body{
  transition: 0.7s;
  padding: 10px;
  height: 50%;
}

h1{
  text-align: center;
  font-family: 'Source Code Pro';
}

h2{
  text-align: center;
  font-size: 20px;
  font-family: 'Source Code Pro';
}

a{
  font-weight: normal;
  color: #ffcc00;
}

a:hover{
  background-color: #ffcc00;
  transition: 0.7s;
  opacity:1;
}

p{
  text-align: center;
  font-family: 'Source Code Pro';
}

img{
  text-align: center;
}

#list{
  transition: 0.7s;
  font-size: 17px;
  font-family: 'Source Code Pro';
}

#title{
  color:black;
  font-size:60px
}

.center{
  text-align: center;
}

.typing-anim{
 overflow: hidden; /* Ensures the content is not revealed until the animation */
 border-right: .15em solid black; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 2px; /* Adjust as needed */
 animation:
 typing 2.5s steps(40, end),
 blinking-cursor .75s  infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to {
     border-color: transparent;
   }
  50% {
    border-color: black;
  }
}
